extends tpl/layout/layout
block variables
  - let title = 'PUG Template'
block content
  include ../header
  h1 Show my type comments to fix trailing spaces   //# Check how it work
  include ../footer